<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh mục sản phẩm</title>
       <link rel="stylesheet" href="/css/styles.css">  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script> <!-- Liên kết file JavaScript xử lý AJAX -->
</head>
<body>

    <div class="container" style="min-height: 500px;">
        <div class="starter-template">
            <h1>Danh mục sản phẩm</h1>
            <ul id="categoryList">
                <!-- Danh mục sẽ được render ở đây -->
            </ul>

        </div>	
    </div>
</body>
</html>
